<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="50000">

<head>
    <title>VICTIM.COM</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-1.11.2.js"></script>
    <style type="text/css">
        body {
            margin: 20px;
        }
    </style>
</head>

<body>
    <h2>Welcome to VICTIM.COM</h2>
    <h4> Choose a game: </h4>

    <ol>
        <li><a href="/token_page">JSON Tokens</a></li>
        <li><a href="/csrf_page">Form CSRF Tokens</a></li>
        <li><a href="/ssrf_page?serverUrl=https://ya.ru">Page with url param</a></li>
        <li><a href="/1.html">Several pages lost somewhere here</a></li>
    </ol>

</body>

</html>
